{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <h1>Welcome to the Symfony Demo Application!</h1>
    <p>This is a simple page to demonstrate the use of Twig templates in Symfony.</p>
{% endblock %}
    