# config/packages/vich_uploader.yaml
vich_uploader:
    db_driver: orm

    mappings:
        article_image:
            # Use Cloudinary service for storage
            uri_prefix: '%env(CLOUDINARY_URL_PREFIX)%'
            upload_destination: '%kernel.project_dir%/public/uploads/images/articles'
            namer: Vich\UploaderBundle\Naming\SmartUniqueNamer
            delete_on_update: true
            delete_on_remove: true

# Cloudinary URL prefix parameter
parameters:
    env(CLOUDINARY_URL_PREFIX): 'https://res.cloudinary.com/%env(CLOUDINARY_CLOUD_NAME)%/image/upload/'