services:
  www:
    build:
      context: . # <-- IMPORTANT: Set the build context to the root of the project
      dockerfile: Dockerfile # <-- IMPORTANT: Specify the path to the Dockerfile à la racine pour heroku aussi
    # dockerfile: ./docker/php/Dockerfile # <-- AVANT heroku
    container_name: innergarden_symfony_php
    ports:
      - "8081:80"
    volumes:
      - ./:/var/www # Mount the project root to /var/www inside the container
      - ./docker/php/vhosts:/etc/apache2/sites-enabled # Mount the Apache vhosts config
      - /var/www/vendor # This creates an anonymous volume for vendor, preventing host override
      - /var/www/var/cache # This creates an anonymous volume for var/cache
      - /var/www/var/log # NEW: This creates an anonymous volume for var/log
      # consider adding ':delegated' to volumes on macOS for better performance/stability
      # Example: - ./:/var/www:delegated
    networks:
      - innergarden_symfony
    depends_on:
      - db
      - mongodb
    env_file:
      - .env.docker.local # Fichier avec les variables MongoDB
    environment:
      APP_ENV: dev
      APP_DEBUG: 1
      # Variables MongoDB passées explicitement
      MONGODB_URL: ${MONGODB_URL}
      MONGODB_DB: ${MONGODB_DB}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    user: "www-data"

  db:
    image: mysql:latest # Version spécifique correspondant à la version de MySQL utilisée dans DATABASE_URL
    # platform: linux/arm64
    container_name: innergarden_symfony_mysql
    volumes:
      - ./var/db_data:/var/lib/mysql
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql:ro # Script d'initialisation to create database for new setup
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
    ports:
      - "3307:3306"
    networks:
      - innergarden_symfony
      
  mongodb:
    image: mongo:7.0 # Version spécifique plus stable
    platform: linux/amd64/v3 # Force l'architecture AMD64 sur linux
    # platform: linux/arm64/v8 # Uncomment if switch to use ARM64
    container_name: innergarden_mongodb
    ports:
      - "27017:27017" # EXPOSE LE PORT 27017 pour la connexion depuis l'hôte (Compass)
    volumes:
      - mongodb_data:/data/db:rw # Persiste les données de MongoDB
      - ./docker/mongodb/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro # Script d'initialisation
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME} # Nom d'utilisateur root pour MongoDB
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD} # Mot de passe root pour MongoDB
      MONGO_INITDB_DATABASE: innergarden_mongodb # Base de données à créer
    networks:
      - innergarden_symfony # sur le même réseau que 'www'
    restart: unless-stopped # Redémarre le conteneur sauf s'il est explicitement arrêté

networks:
  innergarden_symfony:

volumes:
  db_data:
  mongodb_data:
  