services:
  www:
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/arm64
    container_name: innergarden_php_new
    ports:
      - "8085:80"
    volumes:
      - ./:/var/www
      - ./docker/php/vhosts:/etc/apache2/sites-enabled
      - /var/www/vendor
      - /var/www/var/cache
    networks:
      - innergarden_new
    depends_on:
      - db
      - mongodb
    env_file:
      - .env.docker.local
    environment:
      APP_ENV: dev
      APP_DEBUG: 1
      MONGODB_URL: ${MONGODB_URL}
      MONGODB_DB: ${MONGODB_DB}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}

  db:
    image: mysql:8.0
    container_name: innergarden_mysql_new
    volumes:
      - db_data:/var/lib/mysql
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
    ports:
      - "3309:3306"
    networks:
      - innergarden_new

  mongodb:
    image: mongo:7.0
    platform: linux/arm64
    container_name: innergarden_mongodb_new
    ports:
      - "27020:27017"
    volumes:
      - mongodb_data:/data/db:rw
      - ./docker/mongodb/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGODB_DB}
    networks:
      - innergarden_new
    restart: unless-stopped

networks:
  innergarden_new:


volumes:
  db_data:
  mongodb_data:
