{# Breadcrumb Navigation - RGAA 12.3 #}
<nav aria-label="Fil d'Ariane" class="breadcrumb-nav mb-4">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('app_home') }}">
                <i class="bi bi-house-door-fill" aria-hidden="true"></i>
                <span class="ms-1">Accueil</span>
            </a>
        </li>
        {% block breadcrumb_items %}
            {# Override this block in child templates #}
        {% endblock %}
    </ol>
</nav>
