<nav class="navbar">
    <div class="container">
        <a href="{{ path('app_home') }}" class="navbar-brand">Inner Garden</a>
        <ul class="navbar-nav">
            <li><a href="{{ path('app_home') }}">Accueil</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Catégories</a></li>
            {% if app.user %}
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Connexion</a></li>
            {% endif %}
        </ul>
    </div>
</nav>